

.form{
    background-color: white;
    border-radius: 20px;
    border: 1px black solid;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}
.error {
    color:red;
}

.btn-signout {
    color:white;
    margin-bottom: 10%;
}
